* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #7c8d9c;
    background-color: #efefef;
}


.card-wrapper {
    display: flex;
    width: 1005px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}


.card-photo-block {
    background: #FFD617;
    width: 465px;
    height: 610px;
    position: relative;
    margin-top: 45px;
    

}

.card-product-logo {
    position: absolute;
    left: 25px;
    top: 25px;
}

.card-product-image {
    position: absolute;
    top: 83px;
    left: -134px;
}


.card-ditails {
    width: 540px;
    height: 700px;
    background-color: #fff;
    padding-top: 75px;
    padding-left: 80px;
    padding-bottom: 75px;
    padding-right: 20px;
}

.title-1 {
    color:black;
    font-size: 34px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 15px;
}
.subtitle {
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 50px;
}
.features-title {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.33px;
    margin-bottom: 20px;
}
.list {
    font-size: 13px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 40px;
    list-style-type: none;
}


.list li {
    position: relative;
}

.list li::before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    background-color: #00c217;
    position: absolute;
    left: -15px;
    top: 12px;
}


.ditails {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.28px;
    margin-bottom: 20px;
}
.ditails_item {
    margin-right: 20px;
    margin-bottom: 45px;
}
.quantity {
    font-size: 11px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.counter {
    display: flex;
    margin-left: 1px;
    margin-bottom: 30px;
}


.counter-button {
    width: 40px;
    height: 35px;
    border: 1px solid #7c8d9c;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -1px;
  
}
.price-wrapper {
    margin-bottom: 30px;
}
.price {
    color: #3a4d5c;
    font-size: 37px;
}
.old-price {
    font-size: 13px;
}
.button-wrapper {
    width: 200px;
    height: 45px;
    background-color: #1251d1;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    border: none;
    margin-right: 20px;
} 

.button-wish-list {
    width: 200px;
    height: 45px;
    border: 1px solid #7c8d9c;
    background-color: #fff;
    color: #7c8d9c;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
}